<!--
  Generated template for the RegistorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>registor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-row>
  <ion-item>
    <ion-label color="primary" floating>Email : </ion-label>
    <ion-input type="email" name="email" [(ngModel)]="email" #e="ngModel"
     required email></ion-input>
  </ion-item>
  <ion-item *ngIf="e.invalid && (e.dirty || e.touched)">
        <div  *ngIf="e.errors && e.errors.required" class="err">
        Email is required
        </div>
        <div  *ngIf="(e.errors && e.errors.email) != e.errors.required" class="err">
        Email is invalid
        </div>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Password : </ion-label>
    <ion-input type="password" name="pass" required minlength="8" [(ngModel)]="password" #pass="ngModel"></ion-input>
  </ion-item>
  <ion-item *ngIf="pass.invalid && (pass.dirty || pass.touched)">
         <div *ngIf="pass.errors.required" class="err"> Password is required.</div>
        <div *ngIf="pass.errors.minlength" class="err">  Password must 8 characters. {{pass.errors.minlength.requiredLength  - pass.errors.minlength.actualLength}}</div>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Password Confirm : </ion-label>
    <ion-input type="password" name="pass_Confirm" required minlength="8" [(ngModel)]="passwordConfirm" #passConfirm="ngModel"></ion-input>
  </ion-item>
  <ion-item *ngIf="passConfirm.invalid && (passConfirm.dirty || passConfirm.touched)">
         <div *ngIf="passConfirm.errors.required" class="err"> Password is required.</div>
        <div *ngIf="passConfirm.errors.minlength" class="err">  Password must 8 characters. {{passConfirm.errors.minlength.requiredLength  - passConfirm.errors.minlength.actualLength}}</div>
  </ion-item>
  <ion-item>
      <ion-label color="primary" floating>First Name</ion-label>
      <ion-input type="text" name="firstName" required [(ngModel)]="firstName" #first="ngModel"></ion-input>
  </ion-item>
  <ion-item [hidden]="first.valid || first.pristine"  class="err">
      Name is required
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Last Name</ion-label>
    <ion-input type="text" name="lastName" required [(ngModel)]="lastName" #last="ngModel"></ion-input>
  </ion-item>
  <ion-item [hidden]="last.valid || last.pristine"  class="err">
      Name is required
  </ion-item>

</ion-row>
<ion-row>
    <ion-col col-6>
      <button ion-button color="green2" (click)="registor()" full type="submit" >Submit</button>
    </ion-col>
    <ion-col col-6>
        <button ion-button color="danger" full navPop>Cancel</button>
    </ion-col>
</ion-row>
</ion-content>
