page-firebase-testing {

  $green1: #00D300;
  $green2:#2FD32F;
  .ITEM{
    text-align: center;
    font-size: 24px bold;
  }
  .btnADD{
    background-color: $green1;
  }

  button .btnADD:hover{
    background-color: black;
  }

}
